.contenedor {
    margin: 5%;
}

.counter {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.addCarrito {
    margin: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnCount {
    padding: 0px;
    height: 20px;
    width: 20px;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    border: 1px rgb(255, 255, 255);
    border-radius: 4px;
}

.btnCart {
    margin: 4%;
    padding: 0px;
    width: 160px;
    height: 21px;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    border: 1px solid rgb(123, 128, 195);
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.btnCart:hover {
    background-color: rgb(32, 0, 71);;
    color: rgb(255, 255, 255);
    box-shadow: 2px 3px 8px -1.5px rgba(0, 0, 0, 0.8);
}


