.divItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.ulItem {
    margin: 0%;
    padding: 0%;
}

.imgItem {
    height: 100%;
    max-height: 350%;
    width: 50%;
    max-width: 350px;
}
